
body{
    width: 900px;
    margin: 0px auto;
    margin-bottom:40px;
}
span {
    font-weight: bold;
}
#container, #container2{
    position: relative;
    width: 100%;
    overflow: auto;
}

#sections, #sections2{
    width: 330px;
    float: left;
}

#sections > div, #sections2 > div{
    text-align: justify;
    text-justify: inter-word;
    opacity: .2;
    margin-bottom:120px;
}

#sections > div.graph-scroll-active, #sections2 > div.graph-scroll-active{
    opacity: 1;
}


#graph, #graph2{
    float: left;
    margin-left: 40px;
}

#graph.graph-scroll-fixed, #graph2.graph-scroll-fixed{
    position: fixed;
    top: 0px;
    margin-left: 350px;
}

#graph.graph-scroll-below, #graph2.graph-scroll-below {
    position: absolute;
    bottom: 0px;
    margin-left: 350px;
}

h1{
    margin: 50px;
}

h1, h3{
    text-align: center;
}

svg{
    background-color: #eee;
}





